* {

    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    

}

body {

    margin: 0;
}

main {

    position: relative;
}




h1 {

    font-size: 3em;
    font-weight: 600;

    
}

.nav-container {

    position: absolute;
    width: 58%;
    display: flex;
    justify-content: space-between;
    padding: 45px 0px 0px 0px;
    z-index: 1;
}



.hamburger {

    margin-left: 27px;
}

#mobile-menu {

    width: 100%;
    background-color: white;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    transform: translateY(-100%);
    display: flex;
    transition: all .6s;
}

.open {

    transform: translateY(0) !important;

}

.active {

    display: flex !important;
}

.modal {

    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    
}


a {

    font-size: 1.4em;
    font-weight: 600;
    margin-left: 20px;
    
}




.links-container {

margin-right: 27px;
    
}

p {

    font-size: 1.3em;
    line-height: 20px;
    color: hsl(0, 0%, 63%);
}

.heading-container {

    padding: 30px 27px 60px 27px;
}

.myDescs {

    display: none;
}

#second-heading-container {

    padding-bottom: 30px;
}

.heading-container span {

    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 10px;
    
}

h2 {

    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
}

.shop-container {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

#desktop-nav {

    display: none;   
}

/* carousel */

.mySlides {
    
    padding: 0;
    margin: 0;
}



.slideshow-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.btn-container{

    position: absolute;
    bottom: 3px;
    right: 0;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.next, .prev {
    
    height: 15px;
    width: 10px;
    filter: brightness(0) invert(1);
    padding: 17px 20px 18px 20px;
}

.next:hover, .prev:hover {


    background-color: rgba(0, 0, 0, 0.233);
    cursor: pointer;    
}

.fade {
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}


.desktop {

    display: none;
}

@media screen and (min-width: 500px) {

    #mobile-nav, #mobile-menu {

        display: none;
    }

    .active {

        display: none !important;
    }

    #desktop-nav {

        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 40px;
    }

    .links-container {

        margin: 0;
    }

    a {

        color: white;
        margin: 0;
        margin-right: 40px;
        padding-bottom: 7px;
    }

    a:hover {

        cursor: pointer;
        border-bottom: 2px solid white;
    }

    .logo {

        margin-left: 27px;
    }

    .myDescs .shop-container:hover {

        filter: opacity(50%);
        cursor: pointer;
        transition: .2s;
    }

    .mobile {

        display: none;
    }

    .desktop {

        display: flex;
    }

    .next, .prev {
        
        height: 25px;
        width: 15px;
        padding: 25px 33px 25px 33px;
    }

    
.btn-container {

        right: 0px;
        bottom: 0px;
        width: 165px;
        height: 75px;
    }
    
}


@media screen and (min-width: 1186px) {


    

    .top-container {

        display: flex;
    }

    .btn-container {

        right: 0px;
        bottom: -74px;
        width: 165px;
        height: 75px;
    }
    
    .next, .prev {
        
        height: 25px;
        width: 15px;
        padding: 25px 33px 25px 33px;
    }

    .bottom-container {

        display: flex;
        height: 266px;
        justify-content: space-between;

    }

    
    main {

        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #top-right {

        width: 58%;
    }

    #desc-container {

        width: 42%;
        
        
        

    }

    .heading-container {

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        
        
    }

    h1, p {

        margin-top: 0;
    }

    h1 {

        font-size: 3.5em;
        margin-bottom: 15px !important;
    }

    h2 {

        font-size: 1.6em;
        font-weight: 700;
    }

    p {

        font-size: 1.3em;
        line-height: 23px;
        margin: 0 !important;
        
    }

    span {

        font-size: 1.4em !important;
        font-weight: 600;
        
    }

    .myDescs {

        margin-left: 100px;
        margin-right: 100px;
        
        
    }

    .about {

        margin-left: 40px;
        margin-right: 40px;
    }

    

    .heading-container, .image-container {

        padding: 0;
        
    }

    #light {

        width: 440px;
    }

    #dark {

        width: 420px;

    }
    
    #second-heading-container {

        width: 40%;
    }

    .image-container img {

        display: none;
    }

    .image-container:first-child {

        background-image: url('./images/image-about-dark.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image-container:last-child {

        background-image: url('./images/image-about-light.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }


    #second-heading-container {

    }


    .logo {

        margin-left: 50px;
    }

    .nav-container {

        padding-top: 60px;
    }
    
    
}


@media screen and (min-width: 1440px) {


    .btn-container {

        right: -165px;
        width: 165px;
        height: 75px;
        bottom: 0;
    }


    main {

        display: flex;
        justify-content: unset;

    }

    .myDescs {

        margin-bottom: 50px;
    }
}